<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
	<test name="HomePage">
		<parameter name="devicename" value="mydevice2"></parameter>
		<classes>

			<class name="com.qa.testscripts.TC_Homepage" />


		</classes>
		</test>
	<test name="TC_Register">
		<parameter name="devicename" value="mydevice1"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_Register" />

		</classes>
	</test>
	

	<test name="TC_Login">
		<parameter name="devicename" value="mydevice1"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_Login" />

		</classes>
	</test>

	<test name="TC_MyAccount">
		<parameter name="devicename" value="mydevice2"></parameter>
		<classes>

			<class name="com.qa.testscripts.TC_MyAccount" />


		</classes>
	</test>
	<test name="Menu_Items">
		<parameter name="devicename" value="mydevice2"></parameter>
		<classes>

			<class name="com.qa.testscripts.TC_MenuItems" />


		</classes>
	</test> 
	 <test name="ADD_TO_Cart">
		<parameter name="devicename" value="mydevice2"></parameter>
		<classes>

			<class name="com.qa.testscripts.TC_AddtoCart" />


		</classes>
	</test>
	<test name="TC_Sales">
		<parameter name="devicename" value="mydevice1"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_Sales" />

		</classes>
	</test>
	<test name="TC_NewArrivals">
		<parameter name="devicename" value="mydevice1"></parameter>
		<classes>
			<class name="com.qa.testscripts.TC_NewArrivals" />

		</classes>
	</test>
	
</suite> <!--
Suite -->
